<div>
    <nav class="navbar navbar-expand navbar-dark bg-dark">
        <div class="navbar-nav ml-auto" *ngIf="!user">
            <li class="nav-item">
                <div
                    id="g_id_onload"
                    attr.data-client_id="{{ GOOGLE_CLIENT_ID }}"
                    data-context="signin"
                    data-ux_mode="popup"
                    data-auto_prompt="false"
                ></div>

                <div
                    class="g_id_signin"
                    data-type="standard"
                    data-shape="rectangular"
                    data-theme="outline"
                    data-text="signin_with"
                    data-size="large"
                    data-logo_alignment="left"
                ></div>
            </li>
        </div>
        <div class="navbar-nav ml-auto" *ngIf="user">
            <span class="navbar-text">
                {{ user.email }}
            </span>
            <li class="nav-item">
                <a class="nav-link" (click)="signOut()">Logout</a>
            </li>
        </div>
    </nav>
</div>
